In [1]:
import pandas as pd
import gmaps
import requests
import json

from api_keys import gkey
gmaps.configure(api_key = gkey )

In [2]:
top_10 = "top_10_change.csv"
bottom_10 = "bottom_10_change.csv"

In [3]:
top10_change = pd.read_csv(top_10)
bottom10_change = pd.read_csv(bottom_10)

bottom10_change.head()

,School,2009,2010,2011,2012,2013,2014,2015,AVG RANK,City,State
0,Howard,102,96,104,111,120,142,145,117.142857,Washington,DC
1,Arizona,96,102,120,124,120,119,121,114.571429,Tucson,Arizona
2,Lowa St,89,88,94,94,101,101,106,96.142857,Ames,Iowa
3,Kansas,89,96,104,101,106,101,106,100.428571,Lawrence,Kansas
4,Pacific,102,115,99,101,106,112,116,107.285714,Forest Grove,Oregon

In [4]:
cities = top10_change['City']
Top_location = []

for city in cities:
    target_url = (f'https://maps.googleapis.com/maps/api/geocode/json?address={city}&key={gkey}')
    
    try:
        city_data = requests.get(target_url).json()
        
        lat = city_data["results"][0]["geometry"]["location"]["lat"]
        lng = city_data["results"][0]["geometry"]["location"]["lng"]
        Top_location.append({"City":city,
                          "Lat": lat,
                          "Lng": lng
                      })
        
    except:
        pass

In [5]:
Top_location = pd.DataFrame(Top_location)

Top_location = Top_location[["City","Lat","Lng"]]
Top_location

           City        Lat         Lng
0        Boston  42.360082  -71.058880
1    Fort_Worth  32.755488  -97.330766
2       Amherst  42.373222  -72.519854
3         Provo  40.233844 -111.658534
4   Tallahassee  30.438256  -84.280733
5        Boston  42.360082  -71.058880
6       Buffalo  42.886447  -78.878369
7     Worcester  42.262593  -71.802293
8    Washington  47.751074 -120.740139
9  Philadelphia  39.952584  -75.165222

In [6]:
locations = Top_location[['Lat', 'Lng']]

AVG = top10_change['AVG RANK']

In [7]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = AVG, 
                                 dissipating = False, 
                                 max_intensity = 10, 
                                 point_radius = 1 )

type(heat_layer)

gmaps.heatmap.WeightedHeatmap

In [8]:
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
cities = bottom10_change['City']
Bottom_location = []

for city in cities:
    target_url = (f'https://maps.googleapis.com/maps/api/geocode/json?address={city}&key={gkey}')
    
    try:
        city_data = requests.get(target_url).json()
        
        lat = city_data["results"][0]["geometry"]["location"]["lat"]
        lng = city_data["results"][0]["geometry"]["location"]["lng"]
        Bottom_location.append({"City":city,
                          "Lat": lat,
                          "Lng": lng
                      })
        
    except:
        pass

In [10]:
Bottom_location = pd.DataFrame(Bottom_location)

Bottom_location = Bottom_location[["City","Lat","Lng"]]
Bottom_location

           City        Lat         Lng
0    Washington  47.751074 -120.740139
1        Tucson  32.222607 -110.974711
2          Ames  42.030781  -93.631913
3      Lawrence  38.971669  -95.235250
4  Forest Grove  45.526351 -123.120860
5       Pullman  46.729777 -117.181738
6       Chicago  41.878114  -87.629798
7     St. Louis  38.627003  -90.199404
8     Riverside  33.980601 -117.375494
9        Athens  37.983810   23.727539

In [11]:
locations = Bottom_location[['Lat', 'Lng']]

AVG = bottom10_change['AVG RANK']

In [12]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = AVG, 
                                 dissipating = False, 
                                 max_intensity = 10, 
                                 point_radius = 1 )

type(heat_layer)

gmaps.heatmap.WeightedHeatmap

In [13]:
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))