In [80]:
#dependecies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import censusdata
import uszipcode
import csv
import json
import gmaps

#import csv file to narrow data search
collegeR = "./resources_Brendan/collegeRanksCSV.csv"

# Census API Key
from goober import (api_key, gkey) 
c = Census(api_key, year=2010)

In [81]:
#ranking = pd.read_csv(collegeR)
#print(ranking)

In [82]:
c.acs5

In [83]:
# Use Census Search to retrieve data on all states
c_pd = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
               ), {'for': 'state:*'})

In [84]:
c_pd

[{'NAME': 'Alabama',
  'B19013_001E': 42081.0,
  'B01003_001E': 4712651.0,
  'B01002_001E': 37.5,
  'B19301_001E': 22984.0,
  'B17001_002E': 786544.0,
  'state': '01'},
 {'NAME': 'Alaska',
  'B19013_001E': 66521.0,
  'B01003_001E': 691189.0,
  'B01002_001E': 33.8,
  'B19301_001E': 30726.0,
  'B17001_002E': 64245.0,
  'state': '02'},
 {'NAME': 'Arizona',
  'B19013_001E': 50448.0,
  'B01003_001E': 6246816.0,
  'B01002_001E': 35.5,
  'B19301_001E': 25680.0,
  'B17001_002E': 933113.0,
  'state': '04'},
 {'NAME': 'Arkansas',
  'B19013_001E': 39267.0,
  'B01003_001E': 2872684.0,
  'B01002_001E': 37.2,
  'B19301_001E': 21274.0,
  'B17001_002E': 502684.0,
  'state': '05'},
 {'NAME': 'California',
  'B19013_001E': 60883.0,
  'B01003_001E': 36637290.0,
  'B01002_001E': 34.9,
  'B19301_001E': 29188.0,
  'B17001_002E': 4919945.0,
  'state': '06'},
 {'NAME': 'Colorado',
  'B19013_001E': 56456.0,
  'B01003_001E': 4887061.0,
  'B01002_001E': 35.8,
  'B19301_001E': 30151.0,
  'B17001_002E': 584184.0,
  'state': '08'},
 {'NAME': 'Connecticut',
  'B19013_001E': 67740.0,
  'B01003_001E': 3545837.0,
  'B01002_001E': 39.5,
  'B19301_001E': 36775.0,
  'B17001_002E': 314306.0,
  'state': '09'},
 {'NAME': 'Delaware',
  'B19013_001E': 57599.0,
  'B01003_001E': 881278.0,
  'B01002_001E': 38.3,
  'B19301_001E': 29007.0,
  'B17001_002E': 93857.0,
  'state': '10'},
 {'NAME': 'District of Columbia',
  'B19013_001E': 58526.0,
  'B01003_001E': 584400.0,
  'B01002_001E': 34.3,
  'B19301_001E': 42078.0,
  'B17001_002E': 101767.0,
  'state': '11'},
 {'NAME': 'Florida',
  'B19013_001E': 47661.0,
  'B01003_001E': 18511620.0,
  'B01002_001E': 40.3,
  'B19301_001E': 26551.0,
  'B17001_002E': 2502365.0,
  'state': '12'},
 {'NAME': 'Georgia',
  'B19013_001E': 49347.0,
  'B01003_001E': 9468815.0,
  'B01002_001E': 35.0,
  'B19301_001E': 25134.0,
  'B17001_002E': 1445752.0,
  'state': '13'},
 {'NAME': 'Hawaii',
  'B19013_001E': 66420.0,
  'B01003_001E': 1333591.0,
  'B01002_001E': 38.2,
  'B19301_001E': 28882.0,
  'B17001_002E': 124627.0,
  'state': '15'},
 {'NAME': 'Idaho',
  'B19013_001E': 46423.0,
  'B01003_001E': 1526797.0,
  'B01002_001E': 34.4,
  'B19301_001E': 22518.0,
  'B17001_002E': 203177.0,
  'state': '16'},
 {'NAME': 'Illinois',
  'B19013_001E': 55735.0,
  'B01003_001E': 12745359.0,
  'B01002_001E': 36.2,
  'B19301_001E': 28782.0,
  'B17001_002E': 1572048.0,
  'state': '17'},
 {'NAME': 'Indiana',
  'B19013_001E': 47697.0,
  'B01003_001E': 6417398.0,
  'B01002_001E': 36.6,
  'B19301_001E': 24058.0,
  'B17001_002E': 842540.0,
  'state': '18'},
 {'NAME': 'Iowa',
  'B19013_001E': 48872.0,
  'B01003_001E': 3016267.0,
  'B01002_001E': 38.0,
  'B19301_001E': 25335.0,
  'B17001_002E': 338263.0,
  'state': '19'},
 {'NAME': 'Kansas',
  'B19013_001E': 49424.0,
  'B01003_001E': 2809329.0,
  'B01002_001E': 36.1,
  'B19301_001E': 25907.0,
  'B17001_002E': 338792.0,
  'state': '20'},
 {'NAME': 'Kentucky',
  'B19013_001E': 41576.0,
  'B01003_001E': 4285828.0,
  'B01002_001E': 37.7,
  'B19301_001E': 22515.0,
  'B17001_002E': 735782.0,
  'state': '21'},
 {'NAME': 'Louisiana',
  'B19013_001E': 43445.0,
  'B01003_001E': 4429940.0,
  'B01002_001E': 35.9,
  'B19301_001E': 23094.0,
  'B17001_002E': 780359.0,
  'state': '22'},
 {'NAME': 'Maine',
  'B19013_001E': 46933.0,
  'B01003_001E': 1327665.0,
  'B01002_001E': 42.0,
  'B19301_001E': 25385.0,
  'B17001_002E': 162358.0,
  'state': '23'},
 {'NAME': 'Maryland',
  'B19013_001E': 70647.0,
  'B01003_001E': 5696423.0,
  'B01002_001E': 37.6,
  'B19301_001E': 34849.0,
  'B17001_002E': 476732.0,
  'state': '24'},
 {'NAME': 'Massachusetts',
  'B19013_001E': 64509.0,
  'B01003_001E': 6477096.0,
  'B01002_001E': 38.7,
  'B19301_001E': 33966.0,
  'B17001_002E': 658391.0,
  'state': '25'},
 {'NAME': 'Michigan',
  'B19013_001E': 48432.0,
  'B01003_001E': 9952687.0,
  'B01002_001E': 38.1,
  'B19301_001E': 25135.0,
  'B17001_002E': 1444004.0,
  'state': '26'},
 {'NAME': 'Minnesota',
  'B19013_001E': 57243.0,
  'B01003_001E': 5241914.0,
  'B01002_001E': 37.1,
  'B19301_001E': 29582.0,
  'B17001_002E': 542133.0,
  'state': '27'},
 {'NAME': 'Mississippi',
  'B19013_001E': 37881.0,
  'B01003_001E': 2941991.0,
  'B01002_001E': 35.8,
  'B19301_001E': 19977.0,
  'B17001_002E': 604272.0,
  'state': '28'},
 {'NAME': 'Missouri',
  'B19013_001E': 46262.0,
  'B01003_001E': 5922314.0,
  'B01002_001E': 37.6,
  'B19301_001E': 24724.0,
  'B17001_002E': 802596.0,
  'state': '29'},
 {'NAME': 'Montana',
  'B19013_001E': 43872.0,
  'B01003_001E': 973739.0,
  'B01002_001E': 39.7,
  'B19301_001E': 23836.0,
  'B17001_002E': 138109.0,
  'state': '30'},
 {'NAME': 'Nebraska',
  'B19013_001E': 49342.0,
  'B01003_001E': 1799125.0,
  'B01002_001E': 36.2,
  'B19301_001E': 25229.0,
  'B17001_002E': 206227.0,
  'state': '31'},
 {'NAME': 'Nevada',
  'B19013_001E': 55726.0,
  'B01003_001E': 2633331.0,
  'B01002_001E': 35.9,
  'B19301_001E': 27589.0,
  'B17001_002E': 308426.0,
  'state': '32'},
 {'NAME': 'New Hampshire',
  'B19013_001E': 63277.0,
  'B01003_001E': 1313939.0,
  'B01002_001E': 40.3,
  'B19301_001E': 31422.0,
  'B17001_002E': 99527.0,
  'state': '33'},
 {'NAME': 'New Jersey',
  'B19013_001E': 69811.0,
  'B01003_001E': 8721577.0,
  'B01002_001E': 38.5,
  'B19301_001E': 34858.0,
  'B17001_002E': 777968.0,
  'state': '34'},
 {'NAME': 'New Mexico',
  'B19013_001E': 43820.0,
  'B01003_001E': 2013122.0,
  'B01002_001E': 36.4,
  'B19301_001E': 22966.0,
  'B17001_002E': 361771.0,
  'state': '35'},
 {'NAME': 'New York',
  'B19013_001E': 55603.0,
  'B01003_001E': 19229752.0,
  'B01002_001E': 37.7,
  'B19301_001E': 30948.0,
  'B17001_002E': 2650166.0,
  'state': '36'},
 {'NAME': 'North Carolina',
  'B19013_001E': 45570.0,
  'B01003_001E': 9271178.0,
  'B01002_001E': 37.1,
  'B19301_001E': 24745.0,
  'B17001_002E': 1399945.0,
  'state': '37'},
 {'NAME': 'North Dakota',
  'B19013_001E': 46781.0,
  'B01003_001E': 659858.0,
  'B01002_001E': 37.2,
  'B19301_001E': 25803.0,
  'B17001_002E': 78405.0,
  'state': '38'},
 {'NAME': 'Ohio',
  'B19013_001E': 47358.0,
  'B01003_001E': 11512431.0,
  'B01002_001E': 38.3,
  'B19301_001E': 25113.0,
  'B17001_002E': 1586292.0,
  'state': '39'},
 {'NAME': 'Oklahoma',
  'B19013_001E': 42979.0,
  'B01003_001E': 3675339.0,
  'B01002_001E': 36.3,
  'B19301_001E': 23094.0,
  'B17001_002E': 577247.0,
  'state': '40'},
 {'NAME': 'Oregon',
  'B19013_001E': 49260.0,
  'B01003_001E': 3761925.0,
  'B01002_001E': 38.1,
  'B19301_001E': 26171.0,
  'B17001_002E': 516271.0,
  'state': '41'},
 {'NAME': 'Pennsylvania',
  'B19013_001E': 50398.0,
  'B01003_001E': 12612705.0,
  'B01002_001E': 39.8,
  'B19301_001E': 27049.0,
  'B17001_002E': 1509858.0,
  'state': '42'},
 {'NAME': 'Rhode Island',
  'B19013_001E': 54902.0,
  'B01003_001E': 1056389.0,
  'B01002_001E': 38.9,
  'B19301_001E': 28707.0,
  'B17001_002E': 123396.0,
  'state': '44'},
 {'NAME': 'South Carolina',
  'B19013_001E': 43939.0,
  'B01003_001E': 4511428.0,
  'B01002_001E': 37.4,
  'B19301_001E': 23443.0,
  'B17001_002E': 716537.0,
  'state': '45'},
 {'NAME': 'South Dakota',
  'B19013_001E': 46369.0,
  'B01003_001E': 799462.0,
  'B01002_001E': 37.2,
  'B19301_001E': 24110.0,
  'B17001_002E': 105819.0,
  'state': '46'},
 {'NAME': 'Tennessee',
  'B19013_001E': 43314.0,
  'B01003_001E': 6234968.0,
  'B01002_001E': 37.6,
  'B19301_001E': 23722.0,
  'B17001_002E': 1002467.0,
  'state': '47'},
 {'NAME': 'Texas',
  'B19013_001E': 49646.0,
  'B01003_001E': 24311891.0,
  'B01002_001E': 33.4,
  'B19301_001E': 24870.0,
  'B17001_002E': 3972054.0,
  'state': '48'},
 {'NAME': 'Utah',
  'B19013_001E': 56330.0,
  'B01003_001E': 2657236.0,
  'B01002_001E': 28.8,
  'B19301_001E': 23139.0,
  'B17001_002E': 283536.0,
  'state': '49'},
 {'NAME': 'Vermont',
  'B19013_001E': 51841.0,
  'B01003_001E': 624258.0,
  'B01002_001E': 41.0,
  'B19301_001E': 27478.0,
  'B17001_002E': 66726.0,
  'state': '50'},
 {'NAME': 'Virginia',
  'B19013_001E': 61406.0,
  'B01003_001E': 7841754.0,
  'B01002_001E': 37.2,
  'B19301_001E': 32145.0,
  'B17001_002E': 781516.0,
  'state': '51'},
 {'NAME': 'Washington',
  'B19013_001E': 57244.0,
  'B01003_001E': 6561297.0,
  'B01002_001E': 37.0,
  'B19301_001E': 29733.0,
  'B17001_002E': 780009.0,
  'state': '53'},
 {'NAME': 'West Virginia',
  'B19013_001E': 38380.0,
  'B01003_001E': 1840802.0,
  'B01002_001E': 41.1,
  'B19301_001E': 21232.0,
  'B17001_002E': 310495.0,
  'state': '54'},
 {'NAME': 'Wisconsin',
  'B19013_001E': 51598.0,
  'B01003_001E': 5637947.0,
  'B01002_001E': 38.1,
  'B19301_001E': 26624.0,
  'B17001_002E': 637613.0,
  'state': '55'},
 {'NAME': 'Wyoming',
  'B19013_001E': 53802.0,
  'B01003_001E': 545579.0,
  'B01002_001E': 37.0,
  'B19301_001E': 27860.0,
  'B17001_002E': 52297.0,
  'state': '56'},
 {'NAME': 'Puerto Rico',
  'B19013_001E': 18791.0,
  'B01003_001E': 3762322.0,
  'B01002_001E': 35.9,
  'B19301_001E': 10355.0,
  'B17001_002E': 1680370.0,
  'state': '72'}]

In [86]:
# Convert to DataFrame
c_pd = pd.DataFrame(c_pd)

In [88]:
# Column Reordering
c_pd = c_pd.rename(columns={"B01003_001E": "Population",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "NAME": "Name", "state": "State"})

In [90]:
# Final DataFrame
c_pd = c_pd[["State", "Name", "Population", "Household Income",
                       "Per Capita Income"]]

c_pd

,State,Name,Population,Household Income,Per Capita Income
0,01,Alabama,4712651.0,42081.0,22984.0
1,02,Alaska,691189.0,66521.0,30726.0
2,04,Arizona,6246816.0,50448.0,25680.0
3,05,Arkansas,2872684.0,39267.0,21274.0
4,06,California,36637290.0,60883.0,29188.0
5,08,Colorado,4887061.0,56456.0,30151.0
6,09,Connecticut,3545837.0,67740.0,36775.0
7,10,Delaware,881278.0,57599.0,29007.0
8,11,District of Columbia,584400.0,58526.0,42078.0
9,12,Florida,18511620.0,47661.0,26551.0
10,13,Georgia,9468815.0,49347.0,25134.0
11,15,Hawaii,1333591.0,66420.0,28882.0
12,16,Idaho,1526797.0,46423.0,22518.0
13,17,Illinois,12745359.0,55735.0,28782.0
14,18,Indiana,6417398.0,47697.0,24058.0
15,19,Iowa,3016267.0,48872.0,25335.0
16,20,Kansas,2809329.0,49424.0,25907.0
17,21,Kentucky,4285828.0,41576.0,22515.0
18,22,Louisiana,4429940.0,43445.0,23094.0
19,23,Maine,1327665.0,46933.0,25385.0
20,24,Maryland,5696423.0,70647.0,34849.0
21,25,Massachusetts,6477096.0,64509.0,33966.0
22,26,Michigan,9952687.0,48432.0,25135.0
23,27,Minnesota,5241914.0,57243.0,29582.0
24,28,Mississippi,2941991.0,37881.0,19977.0
25,29,Missouri,5922314.0,46262.0,24724.0
26,30,Montana,973739.0,43872.0,23836.0
27,31,Nebraska,1799125.0,49342.0,25229.0
28,32,Nevada,2633331.0,55726.0,27589.0
29,33,New Hampshire,1313939.0,63277.0,31422.0
30,34,New Jersey,8721577.0,69811.0,34858.0
31,35,New Mexico,2013122.0,43820.0,22966.0
32,36,New York,19229752.0,55603.0,30948.0
33,37,North Carolina,9271178.0,45570.0,24745.0
34,38,North Dakota,659858.0,46781.0,25803.0
35,39,Ohio,11512431.0,47358.0,25113.0
36,40,Oklahoma,3675339.0,42979.0,23094.0
37,41,Oregon,3761925.0,49260.0,26171.0
38,42,Pennsylvania,12612705.0,50398.0,27049.0
39,44,Rhode Island,1056389.0,54902.0,28707.0
40,45,South Carolina,4511428.0,43939.0,23443.0
41,46,South Dakota,799462.0,46369.0,24110.0
42,47,Tennessee,6234968.0,43314.0,23722.0
43,48,Texas,24311891.0,49646.0,24870.0
44,49,Utah,2657236.0,56330.0,23139.0
45,50,Vermont,624258.0,51841.0,27478.0
46,51,Virginia,7841754.0,61406.0,32145.0
47,53,Washington,6561297.0,57244.0,29733.0
48,54,West Virginia,1840802.0,38380.0,21232.0
49,55,Wisconsin,5637947.0,51598.0,26624.0
50,56,Wyoming,545579.0,53802.0,27860.0
51,72,Puerto Rico,3762322.0,18791.0,10355.0